@model dynamic

@{
    ViewBag.Title = "Notice";
}

<div class="content-padder">
    <h3>No se puede borrar este tipo de suelo</h3>

    <p>El tipo de suelo que intentas borrar no puede ser modificado.</p>
</div>