
@{
    ViewBag.Title = "Fracciones";
}

@section scripts{
    <script src="~/scripts/ViewModels/ViewModels.min.js"></script>  
    <script src="~/scripts/jquery-ui.min.js"></script>
}

@section jsCode{
    $(document).ready(function(){
        $("#container-for-table").load('@Url.Action("TablaFracciones", "Fracciones")',function(){
            $('[data-toggle="tooltip"]').tooltip();
            var model = new dixus.viewModels.TablaFracciones();
            ko.applyBindings( model , document.getElementById('table-wrapper') );

            $( "#m2-slider" ).slider({
                range: true,
                min: 0,
                max: 1032,
                values: [ 0, 1032],
                slide: function( event, ui ) {
                    $( "#metros-cuadrados-filtro" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                }
            });
            $( "#metros-cuadrados-filtro" ).val( $( "#m2-slider" ).slider( "values", 0 ) + " - " + $( "#m2-slider" ).slider( "values", 1 )  );

           $( "#factor-slider" ).slider({
                range: true,
                min: 0,
                max: 1,
                values: [ 0, 1],
                step: 0.01,
                slide: function( event, ui ) {
                    $( "#factor-topografico-filtro" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                }
            });

            $( "#factor-topografico-filtro" ).val( $( "#factor-slider" ).slider( "values", 0 ) + " - " + $( "#factor-slider" ).slider( "values", 1 )  );
        });
    });
}

@section header{
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
}

<h3 class="page-title">Fracciones</h3>

<div id="container-for-table">
    <div class="loading-status-section">
        <div class="loading-icon">
            <i class="fa fa-spin fa-circle-o-notch"></i>
        </div>
        <p>Cargando fracciones...</p>
    </div>
</div>
