
@{
    ViewBag.Title = "Mapas";
}

<h3 class="page-title">Planos</h3>
<hr class="green-stripe" />
<hr class="not-to-top"/>
<div class="content-padder">

    <div class="map-menu">
        <div class="row">
            
            <div class="col-md-4 col-sm-6">
                <div class="demo-card-wide ficha-mapa-leaflet mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">PM</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Mapa interactivo que muestra la información geográfica del plan maestro de Puerta de Anza
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="@Url.Action("leaflet")" class="btn btn-verde">
                            Plan Maestro
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
       

</div>

