
@{
    ViewBag.Title = "Mapbox";
}

<div id="map">
    <iframe style="height:99.7%; width:100%; border: none" scrolling="no" src="https://api.mapbox.com/styles/v1/iriarte/cil8oy2at001k9gkk9xr8h5bu.html?title=true&access_token=pk.eyJ1IjoiaXJpYXJ0ZSIsImEiOiI2V0gyellzIn0.TpmCNJMAs-85jhxdvic4aQ#13.57/31.3071/-110.9097"></iframe>
</div>

